# SIP FW using Mitel's MiVO400 Repo
# Below is based on MiVO400 7.2 HF1 SIP 6.4.0.5024
firmware server: https://fwdl-mivo400.mitel.com/6700i/7-2_HF1/

# Enable SIP to third party call servers
sip register blocking: 0
